<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title"> {{ 'HEADERS.HERO-TITLE' | translate | uppercase}}</h1>
    <p class="hero-desc">{{ 'HEADERS.HERO-SUBTITLE' | translate | uppercase}}</p>
    <a href="#" class="btn"> {{ 'ACTIONS.START' | translate | uppercase }}</a>
  </div>
</section>
<section>
  <h2 class="advantages-title">{{ 'HEADERS.ADVANTAGES_TITLE' | translate }}</h2>
    <ul class="section-wrapper">
      <li class="list-item">
         <img src="assets/icons/in-progress.png" alt="In Progress Icon" class="list-icon">
          <p class="underline"> {{ 'PARAGRAPHS.ADVANTAGES-1' | translate}}</p>
      </li>
      <li class="list-item">
        <img src="assets/icons/goals.png" alt="Goals icon" class="list-icon">
        <p class="underline"> {{ 'PARAGRAPHS.ADVANTAGES-2' | translate}}</p>
      </li>
      <li class="list-item">
        <img src="assets/icons/tags.png" alt="Tags icon" class="list-icon">
        <p class="underline"> {{ 'PARAGRAPHS.ADVANTAGES-3' | translate}}</p>
      </li>
    </ul>
</section>
<section class="qa-section">
  <div class="qa-wrapper">
  <h2 class="qa-title">{{ 'HEADERS.QA-FORM-TITLE' | translate }}</h2>
  <p>{{ 'PARAGRAPHS.QA-FORM-DESC' | translate}} </p>
  <div class="input-section">
   <input type="text" class="input-field" placeholder="{{ 'PLACEHOLDERS.QA-FORM-NAME' | translate }}" />
    <button class="btn">{{ 'ACTIONS.SEND' | translate | uppercase }}</button>
</div>
  </div>
</section>
