<header class="header">
  <div class="header-content">
    <img [src]="logoSrc" alt="StoryStack logo" class="logo" routerLink="/" />
    <ng-container *ngTemplateOutlet="isMobile ? mobileViewTmpl : fullViewTmpl"></ng-container>
  </div>
</header>

<ng-template #fullViewTmpl>
  <nav class="header-nav" aria-label="Main navigation">
    <a routerLink="/" class="nav-item" >{{ 'HEADERS.HOME' | translate }}</a>
    <a href="#" class="nav-item">{{ 'HEADERS.ABOUT' | translate }}</a>
    <span class="nav-item">
      <button mat-icon-button (click)="toggleDarkTheme()" aria-label="Change theme">
        <mat-icon>{{ themeService.getCurrentTheme() === 'dark-theme' ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </span>
    <select id="language" class="language-select" (change)="changeLanguage($event)">
      <option value="uk" [selected]="translate.currentLang === 'uk'">UK</option>
      <option value="en" [selected]="translate.currentLang === 'en'">EN</option>
    </select>

    <ng-container *ngIf="isAuthenticated$ | async; else showSignUpFull">
      <div class="user-info" (click)="toggleUserMenu()" tabindex="0" (blur)="closeUserMenu()">
        <img src="assets/icons/user.png" alt="User avatar" />
        <span class="username">{{ (currentUser$ | async)?.username }}</span>

        <div class="user-dropdown" *ngIf="userMenuOpen">
          <button class="dropdown-item" (click)="onLogout()">Вийти</button>
        </div>
      </div>
    </ng-container>
    <ng-template #showSignUpFull>
      <button class="signup-btn" routerLink="/login">{{ 'ACTIONS.SIGN_UP' | translate }}</button>
    </ng-template>

  </nav>
</ng-template>


<ng-template #mobileViewTmpl>
  <img class="burger-btn" (click)="toggleMenu()" src="/assets/icons/burger-menu-icon.svg" alt="Menu" />
  <nav class="mobile-nav" *ngIf="menuOpen" aria-label="Mobile navigation">
    <a href="#" class="nav-item">{{ 'HEADERS.HOME' | translate }}</a>
    <a href="#" class="nav-item">{{ 'HEADERS.ABOUT' | translate }}</a>
    <span class="nav-item">
      <button mat-icon-button (click)="toggleDarkTheme()" aria-label="Change theme">
        <mat-icon>{{ themeService.getCurrentTheme() === 'dark-theme' ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </span>
    <select id="languageMobile" class="language-select" (change)="changeLanguage($event)">
      <option value="uk" [selected]="translate.currentLang === 'uk'">UK</option>
      <option value="en" [selected]="translate.currentLang === 'en'">EN</option>
    </select>

    <ng-container *ngIf="isAuthenticated$ | async; else showSignUpMobile">
      <div class="user-info" (click)="toggleUserMenu()" tabindex="0" (blur)="closeUserMenu()">
        <img src="assets/icons/user.png" alt="User avatar" />
        <span class="username">{{ (currentUser$ | async)?.username }}</span>

        <div class="user-dropdown" *ngIf="userMenuOpen">
          <button class="dropdown-item" (click)="onLogout()">Вийти</button>
        </div>
      </div>
    </ng-container>
    <ng-template #showSignUpMobile>
      <button class="signup-btn" routerLink="/login">{{ 'ACTIONS.SIGN_UP' | translate }}</button>
    </ng-template>
  </nav>
</ng-template>
