<div class="wrapper">
  <div class="form-wrapper">
    <h2>{{ 'AUTH.RESET_PASSWORD_TITLE' | translate }}</h2>

    @if (success()) {
      <div class="success-box">
        <p class="success-msg">{{ 'AUTH.RESET_PASSWORD_SUCCESS' | translate }}</p>
        <p class="redirect-msg">{{ 'AUTH.REDIRECTING_TO_LOGIN' | translate }}</p>
      </div>
    } @else {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <input type="password" formControlName="password"
                 [placeholder]="'PLACEHOLDERS.FORM-PASSWORD' | translate"
                 [class.invalid]="form.controls.password.invalid && form.controls.password.touched">

          <app-form-error [control]="form.controls.password" />
        </div>

        <div class="field">
          <input type="password" formControlName="confirmPassword"
                 [placeholder]="'PLACEHOLDERS.FORM-CONFIRM-PASSWORD' | translate"
                 [class.invalid]="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched">

          <app-form-error [control]="form.controls.confirmPassword" />

          @if (form.hasError('passwordMismatch') && form.controls.confirmPassword.touched) {
            <div class="form-error">{{ 'FORM_ERRORS.PASSWORD_MISMATCH' | translate }}</div>
          }
        </div>
        <app-form-error [serverError]="error()" />

        <button type="submit" [disabled]="form.invalid || isLoading()">
          {{ (isLoading() ? 'ACTIONS.LOADING' : 'ACTIONS.SAVE') | translate }}
        </button>
      </form>
    }
  </div>
</div>
