<div class="wrapper">
<div class="form-wrapper">
  <div class="switcher-buttons">
    <button class="switcher-button" [class.active]="activeTab === 'login'" (click)="setActiveTab('login')"> {{ 'ACTIONS.SIGN_IN' | translate}} </button>
    <button class="switcher-button" [class.active]="activeTab === 'signup'" (click)="setActiveTab('signup')">{{ 'ACTIONS.SIGN_UP' | translate}}</button>
  </div>
  <div class="switcher-content">
    <ng-container *ngTemplateOutlet="activeTab === 'login' ? loginTmpl : signupTmpl"></ng-container>
  </div>
</div>
</div>

<ng-template #loginTmpl>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <input formControlName="username" placeholder="{{ 'PLACEHOLDERS.FORM-USERNAME' | translate }}">
    <input type="password" formControlName="password" placeholder="{{ 'PLACEHOLDERS.FORM-PASSWORD' | translate }}">
    <button type="submit">{{ 'ACTIONS.SIGN_IN' | translate }}</button>
  </form>
</ng-template>

<ng-template #signupTmpl>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <input
      type="email"
      formControlName="email"
      placeholder="{{ 'PLACEHOLDERS.FORM-EMAIL' | translate }}">

    <input
      type="text"
      formControlName="username"
      placeholder="{{ 'PLACEHOLDERS.FORM-USERNAME' | translate }}">

    <input
      type="password"
      formControlName="password"
      placeholder="{{ 'PLACEHOLDERS.FORM-PASSWORD' | translate }}">

    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="{{ 'PLACEHOLDERS.FORM-CONFIRM-PASSWORD' | translate }}">
    <div class="checkbox-wrapper">
      <mat-checkbox formControlName="agreeToTerms"></mat-checkbox>
      <p>{{ 'PARAGRAPHS.PRIVACY-POLICY' | translate }}</p>
    </div>
    <button type="submit" [disabled]="registerForm.invalid">
      {{ 'ACTIONS.SIGN_UP' | translate }}
    </button>
    <p>
      {{ 'ACTIONS.ALREADY_HAVE_AN_ACCOUNT' | translate }}
      <span (click)="setActiveTab('login')">{{ 'ACTIONS.SIGN_IN' | translate }}</span>
    </p>
  </form>

</ng-template>


