@use '@angular/material' as mat;
@include mat.core();

$custom-light: (
  50: #f5f1eb,
  100: #e6dccd,
  200: #d5c5ab,
  300: #c4ae89,
  400: #b89d70,
  500: #4d2719,
  600: #3b1e13,
  700: #31190f,
  800: #27140c,
  900: #1a0d08,
  A100: #eadcd4,
  A200: #d5c5ab,
  A400: #b89d70,
  A700: #31190f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  )
);

$custom-dark: (
  50: #f4e6d7,
  100: #e4c0a3,
  200: #d2976b,
  300: #c06d32,
  400: #b34e07,
  500: #e3b89b,
  600: #c29a82,
  700: #9f7c69,
  800: #7c5e50,
  900: #593f37,
  A100: #f4e6d7,
  A200: #d2976b,
  A400: #b34e07,
  A700: #9f7c69,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
);

$light-palette: mat.m2-define-palette($custom-light, 500, 300, 700);
$dark-palette: mat.m2-define-palette($custom-dark, 500, 300, 700);


$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $light-palette,
    accent: $light-palette
  ),
  density: 0
));

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-palette,
    accent: $dark-palette
  ),
  density: 0
));

@include mat.all-component-themes($light-theme);


:root {
  // light theme
  --primary-base: #686262;
  --primary-hover: #353432;
  --primary-soft: #eadcd4;
  --background-default: #1c1c1c;
  --background-surface: #f5ece6;
  --text-primary: #1c1c1c;
  --text-secondary: #6b6b6b;
  --border-default: #d5c4ba;
  --state-success: #22c55e;
  --state-error: #ef4444;
  --state-warning: #facc15;
  --disabled-base: #d1d5db;
}

.dark-theme {
  // dark theme
  @include mat.all-component-themes($dark-theme);
  --primary-base: #4d2719;
  --primary-hover: #3b1e13;
  --primary-soft: #eadcd4;
  --background-default: #faf9f8;
  --background-surface: #f5ece6;
  --text-primary: #f5f5f5;
  --text-secondary: #b0b0b0;
  --border-default: #4d4d4d;
}


