.footer {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--primary-base);
  color: var(--primary-soft);
}

.footer div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 30px;
  margin-right: 10px;
}
