.search-container {
  margin-top: 12px;
  margin-bottom: 8px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.search-container mat-form-field {
  width: 100%;
}

::ng-deep  .mdc-dialog--open .mat-mdc-dialog-surface {
  background-color: var(--background-section) !important;
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
  background-color: var(--background-section);
}
